{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  // https://github.com/feross/standard/blob/master/RULES.md#javascript-standard-style
  "extends": "standard",
  "plugins": [
    "react"
  ],
  "rules": {
    // allow paren-less arrow functions
    "arrow-parens": 0,
    "no-extra-parens": 0,
    "react/jsx-uses-vars": 1,
    "react/jsx-uses-react": "error"
  }
}